body {
  font-family: -apple-system, BlinkMacSystemFont, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  height: 100vh;
  color: #4a669e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start {
  background-color: #8caef2;
  border-radius: 40px;
  border: none;
  width: 150px;
  height: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
  font: inherit;
  font-size: x-large;
}